@if(weatherData()?.daily?.time; as days) {
    7 napos előrejelzés
    <table>
        <tbody>
            @for (day of days; track day; let idx = $index) {
                <tr>
                    <td>{{ getDay(day) }}</td>
                    <td><app-weather-icon [wmo]="weatherData()?.daily?.weather_code![idx]"></app-weather-icon></td>
                    <td>{{ weatherData()?.daily?.precipitation_probability_mean![idx] }}{{ weatherData()?.daily_units?.precipitation_probability_mean }} </td>
                    <td>
                        {{ weatherData()?.daily?.temperature_2m_min![idx] }}  {{ weatherData()?.daily_units?.temperature_2m_min }} 
                        / {{  weatherData()?.daily?.temperature_2m_max![idx] }}  {{  weatherData()?.daily_units?.temperature_2m_min }}
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
}